@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

:root{
    --primary-color: #FF712A;
    --second-color: #F0F0F0;
    --color1: #440c06;
    --color3: #440c06d0;
    --color2: #fff5ed;
}
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */

.menu{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100000;
}

.menu-sup{
    width: 100%;
    height: 30px;
    background-color: var(--primary-color);
}

.menu-sup-ctn{
    max-width: 85%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-items{
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-sup-ctn a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-sup-ctn a img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.menu-telf{
    display: flex;
    align-items: center;
}

.menu-telf a , .menu-telf i {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: var(--color2);
    font-size: 0.9rem;
}

/*///////////////MENU INFERIOR///////////////////*/

.menu-inf{
    width: 100%;
    height: 55px;
    background-color: #000000;
    backdrop-filter: blur(15px);
    background-color: rgba(218, 218, 218, 0.651);
    backdrop-filter: blur(15px);
    
}

.menu-inf-ctn{
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo img{
    width: 130px;
}


/*////////////////////MENU DESPLEGABLE////////////////*/
.menu-dp {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu-dp > li {
    position: relative;
}

.menu-dp > li > a {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding: 10px 15px;
    display: block;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    padding: 10px 15px;
    display: block;
    white-space: nowrap;
    font-size: 14px;    
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.dropdown-icon {
    font-size: 12px; 
}


.menu-perfil{
    width: 80px;
    display: flex;
    height: 100%;
}

.menu-perfil a img{
    width: 28px;
    margin-left: 25px;
}


.menu-close-btn {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    margin-left: 15px;
}

.content {
    margin-top: 60px; /* Espacio para el menú fijo */
    padding: 20px;
}

.hidden {
    display: none;
}


/* ///////////////////////////////////////////////////// */
/* //////////////////////FOOTER///////////////////////// */
/* ///////////////////////////////////////////////////// */


footer{
    width: 100%;
    background-color: black;
    height: 35vh;
    border-top: 4px solid #FF712A ;
}

.footer-ctn{
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.ft-logo, .ft-info, .ft-book, .ft-redes{
    margin-top: 35px;
}

.ft-logo img{
    width: 200px;
}


/*//////////ft-info///////////////*/
.ft-info{
    display: flex;
    flex-direction: column;
}

.ft-inf-title, .ft-title{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.ft-info a{
    color: white;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0 0 5px 0;
}

/*//////////////ft-redes/////////*/
.ft-redes{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    
}


.face, .insta, .ttk, .yout{
    display: flex;
    align-items: center;
    margin: 0 0 6px 0;
}

.redes-icon{
    width: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.a-redes{
    color: white;
}

/*/////////////libro-reclamaciones//////////////////*/

.ft-book{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ft-book img{
    width: 80px;
}

.copy{
    text-align: center; 
    font-size: 0.7rem; 
    color: #777;
}